@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF9D2;
    font-family: 'Anton', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    height: 10vh;
    top: 0;
    z-index: 3;
    padding: 1.4vw;
    background-color: transparent;
    transition: background-color 0.4s ease, padding 0.4s ease;
}

.header.scrolled {
    background-color: #FFF9D2;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    font-size: 1vw;
    display: flex;
    gap: 2vw;
}

.nav-links a {
    text-decoration: none;
    color: #111111;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #5c5a5a;
}

.nav .logo img {
    width: 8vw;
}

.hero {
    position: relative;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    height: 100vh;
    padding: 0 1.4vw 4vw;
    display: flex;
    align-items: end;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 0.1vw;
}

.hero-content p {
    font-size: 1.2vw;
    color: white;
}

.description-btn {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.primaryBTN {
    color: #111111;
    font-size: 0.8vw;
    border: none;
    padding: 1vw;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: 0.6px dotted #111111;
    position: relative;
    background-color: #ffffff;
    transition: background-color 0.6s ease;
}

.primaryBTN:hover {
    background-color: #FFF9D2;
}


.borderCA {
    position: absolute;
    width: 1.2vw;
    left: 0.2vw;
    top: 0.2vw;
}

.borderCB {
    position: absolute;
    width: 1.2vw;
    right: 0.2vw;
    bottom: -0.2vw;
}

.borderAR{
    position: absolute;
    width: 1vw;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
}

.projects {
    background-color: #111111;
    height: 100vh;
}